In [ ]:
from agent import Agent
from ddl_loader import load_ddl

with open('./ddl.txt', 'r') as f:
    d = load_ddl(f.read())

db_conn_param = {
    'dbname': 'forex_hdge',
    'user': 'root',
    'password': 'root',
    'host': 'localhost',
    'port': '5432'
}

agent = Agent(ddl_dict=d, db_conn_param=db_conn_param, loop_cnt=25)

In [ ]:
agent.generate('trading_task')

In [ ]:
len(agent.generated)

In [ ]:
len(agent.optimized)

In [ ]:
agent.optimized

In [1]:
mock_data= [{'table': 'company_base',
  'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
  'dependencies': []},
 {'table': 'hedge_plan',
  'stmts': ["insert into hedge_plan (id, created_at, created_by, deleted_at, updated_at, updated_by, approval_status, plan_no, year_month) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'PENDING', 'HP202304', 202304); "],
  'dependencies': []},
 {'table': 'hedge_group',
  'stmts': ["insert into hedge_group (id, created_at, created_by, deleted_at, updated_at, updated_by, key, reject_reason, status, code, comment, name, delegate_id, group_currency_id, master_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'hedgeKey123', NULL, 'PENDING', 'HG20230401', 'Initial hedge group setup', 'HedgeGroup1', 1, 1, 1); "],
  'dependencies': [{'table': 'company',
    'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
    'dependencies': [{'table': 'company_base',
      'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
      'dependencies': []}]},
   {'table': 'currency',
    'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
    'dependencies': []},
   {'table': 'company_currency',
    'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
    'dependencies': [{'table': 'currency',
      'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
      'dependencies': []},
     {'table': 'company',
      'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
      'dependencies': [{'table': 'company_base',
        'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
        'dependencies': []}]}]}]},
 {'table': 'company_currency',
  'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
  'dependencies': [{'table': 'currency',
    'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
    'dependencies': []},
   {'table': 'company',
    'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
    'dependencies': [{'table': 'company_base',
      'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
      'dependencies': []}]}]},
 {'table': 'company',
  'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
  'dependencies': [{'table': 'company_base',
    'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
    'dependencies': []}]},
 {'table': 'hedge_plan_entry',
  'stmts': ["insert into hedge_plan_entry (id, created_at, created_by, deleted_at, updated_at, updated_by, month_term, remark, company_currency_id, exposure_currency_id, hedge_currency_id, hedge_group_id, plan_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 6, 'Monthly hedge plan', 1, 2, 3, 4, 5); "],
  'dependencies': [{'table': 'company_currency',
    'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
    'dependencies': [{'table': 'currency',
      'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
      'dependencies': []},
     {'table': 'company',
      'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
      'dependencies': [{'table': 'company_base',
        'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
        'dependencies': []}]}]},
   {'table': 'currency',
    'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
    'dependencies': []},
   {'table': 'hedge_group',
    'stmts': ["insert into hedge_group (id, created_at, created_by, deleted_at, updated_at, updated_by, key, reject_reason, status, code, comment, name, delegate_id, group_currency_id, master_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'hedgeKey123', NULL, 'PENDING', 'HG20230401', 'Initial hedge group setup', 'HedgeGroup1', 1, 1, 1); "],
    'dependencies': [{'table': 'company',
      'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
      'dependencies': [{'table': 'company_base',
        'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
        'dependencies': []}]},
     {'table': 'currency',
      'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
      'dependencies': []},
     {'table': 'company_currency',
      'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
      'dependencies': [{'table': 'currency',
        'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
        'dependencies': []},
       {'table': 'company',
        'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
        'dependencies': [{'table': 'company_base',
          'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
          'dependencies': []}]}]}]},
   {'table': 'hedge_plan',
    'stmts': ["insert into hedge_plan (id, created_at, created_by, deleted_at, updated_at, updated_by, approval_status, plan_no, year_month) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'PENDING', 'HP202304', 202304); "],
    'dependencies': []}]},
 {'table': 'instruction',
  'stmts': ['insert into instruction (id, created_at, created_by, deleted_at, updated_at, updated_by, assign_status, assigned_volumem, confirmed_volumem, execute_status, "from", generated_time, instruction_no, trade_direction, traded_volumem, trading_volumem, hedge_plan_entry_id, master_id) VALUES (1, \'2023-04-01 12:00:00.000000+00\', \'user123\', NULL, NULL, NULL, \'PENDING\', 100.00, 200.00, \'PENDING\', \'HEDGE_PLAN\', \'2023-04-01 12:05:00.000000+00\', \'INSTR12345\', \'BUY\', 50.00, 150.00, 1, 2); '],
  'dependencies': [{'table': 'hedge_plan_entry',
    'stmts': ["insert into hedge_plan_entry (id, created_at, created_by, deleted_at, updated_at, updated_by, month_term, remark, company_currency_id, exposure_currency_id, hedge_currency_id, hedge_group_id, plan_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 6, 'Monthly hedge plan', 1, 2, 3, 4, 5); "],
    'dependencies': [{'table': 'company_currency',
      'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
      'dependencies': [{'table': 'currency',
        'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
        'dependencies': []},
       {'table': 'company',
        'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
        'dependencies': [{'table': 'company_base',
          'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
          'dependencies': []}]}]},
     {'table': 'currency',
      'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
      'dependencies': []},
     {'table': 'hedge_group',
      'stmts': ["insert into hedge_group (id, created_at, created_by, deleted_at, updated_at, updated_by, key, reject_reason, status, code, comment, name, delegate_id, group_currency_id, master_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'hedgeKey123', NULL, 'PENDING', 'HG20230401', 'Initial hedge group setup', 'HedgeGroup1', 1, 1, 1); "],
      'dependencies': [{'table': 'company',
        'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
        'dependencies': [{'table': 'company_base',
          'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
          'dependencies': []}]},
       {'table': 'currency',
        'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
        'dependencies': []},
       {'table': 'company_currency',
        'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
        'dependencies': [{'table': 'currency',
          'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
          'dependencies': []},
         {'table': 'company',
          'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
          'dependencies': [{'table': 'company_base',
            'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
            'dependencies': []}]}]}]},
     {'table': 'hedge_plan',
      'stmts': ["insert into hedge_plan (id, created_at, created_by, deleted_at, updated_at, updated_by, approval_status, plan_no, year_month) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'PENDING', 'HP202304', 202304); "],
      'dependencies': []}]},
   {'table': 'company',
    'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
    'dependencies': [{'table': 'company_base',
      'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
      'dependencies': []}]}]},
 {'table': 'currency',
  'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
  'dependencies': []},
 {'table': 'general_user',
  'stmts': ["insert into general_user (id, employee_number, extension, organization_name, user_id) VALUES (1, '123456', '{}', 'Example Organization', 'user123'); "],
  'dependencies': []},
 {'table': 'trading_task',
  'stmts': ["insert into trading_task (id, created_at, created_by, deleted_at, updated_at, updated_by, assign_time, buy_remainingm, buy_volume, execute_status, expire_date, last_trading_time, sell_remainingm, sell_volume, task_no, traded_volumem, transferred_volumem, ym, assigner_id, buy_currency_id, instruction_id, parent_id, sell_currency_id, trader_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, '2023-04-02 12:00:00.000000', 100.00, 200.00, 'PENDING', '2023-05-01 12:00:00.000000', NULL, 150.00, 250.00, 'T123456', 50.00, 30.00, 2023, 1, 1, 1, 1, 1, 1); "],
  'dependencies': [{'table': 'general_user',
    'stmts': ["insert into general_user (id, employee_number, extension, organization_name, user_id) VALUES (1, '123456', '{}', 'Example Organization', 'user123'); "],
    'dependencies': []},
   {'table': 'currency',
    'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
    'dependencies': []},
   {'table': 'instruction',
    'stmts': ['insert into instruction (id, created_at, created_by, deleted_at, updated_at, updated_by, assign_status, assigned_volumem, confirmed_volumem, execute_status, "from", generated_time, instruction_no, trade_direction, traded_volumem, trading_volumem, hedge_plan_entry_id, master_id) VALUES (1, \'2023-04-01 12:00:00.000000+00\', \'user123\', NULL, NULL, NULL, \'PENDING\', 100.00, 200.00, \'PENDING\', \'HEDGE_PLAN\', \'2023-04-01 12:05:00.000000+00\', \'INSTR12345\', \'BUY\', 50.00, 150.00, 1, 2); '],
    'dependencies': [{'table': 'hedge_plan_entry',
      'stmts': ["insert into hedge_plan_entry (id, created_at, created_by, deleted_at, updated_at, updated_by, month_term, remark, company_currency_id, exposure_currency_id, hedge_currency_id, hedge_group_id, plan_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 6, 'Monthly hedge plan', 1, 2, 3, 4, 5); "],
      'dependencies': [{'table': 'company_currency',
        'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
        'dependencies': [{'table': 'currency',
          'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
          'dependencies': []},
         {'table': 'company',
          'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
          'dependencies': [{'table': 'company_base',
            'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
            'dependencies': []}]}]},
       {'table': 'currency',
        'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
        'dependencies': []},
       {'table': 'hedge_group',
        'stmts': ["insert into hedge_group (id, created_at, created_by, deleted_at, updated_at, updated_by, key, reject_reason, status, code, comment, name, delegate_id, group_currency_id, master_id) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'hedgeKey123', NULL, 'PENDING', 'HG20230401', 'Initial hedge group setup', 'HedgeGroup1', 1, 1, 1); "],
        'dependencies': [{'table': 'company',
          'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
          'dependencies': [{'table': 'company_base',
            'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
            'dependencies': []}]},
         {'table': 'currency',
          'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
          'dependencies': []},
         {'table': 'company_currency',
          'stmts': ["insert into company_currency (id, created_at, created_by, deleted_at, updated_at, updated_by, fut_mon_avg_bias_limit, mom_bias_limit, mon_avg_bias_limit, payment_period, comp_currency_id, company_id) VALUES (1, '2023-04-01 12:00:00+00', 'user123', NULL, NULL, NULL, 100.00, 200.00, 300.00, 12, 1, 1); "],
          'dependencies': [{'table': 'currency',
            'stmts': ["insert into currency (id, code, name) VALUES (1, 'USD', 'United States Dollar'); "],
            'dependencies': []},
           {'table': 'company',
            'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
            'dependencies': [{'table': 'company_base',
              'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
              'dependencies': []}]}]}]},
       {'table': 'hedge_plan',
        'stmts': ["insert into hedge_plan (id, created_at, created_by, deleted_at, updated_at, updated_by, approval_status, plan_no, year_month) VALUES (1, '2023-04-01 12:00:00.000000', 'user123', NULL, NULL, NULL, 'PENDING', 'HP202304', 202304); "],
        'dependencies': []}]},
     {'table': 'company',
      'stmts': ["insert into company (id, created_at, created_by, deleted_at, updated_at, updated_by, delivery_prep_days, delivery_type, supervised, company_base_id) VALUES (1, '2023-04-01 12:00:00.000000+00', 'user123', NULL, NULL, NULL, 5, 'FULL', true, 1); "],
      'dependencies': [{'table': 'company_base',
        'stmts': ["insert into company_base (id, alias, attribute, business_group, code, consolidated, domestic, name) VALUES (1, 'field value 1 generated', 'field value 2 generated', 'field value 3 generated', 'field value 4 generated', true, false, 'field value 5 generated'); "],
        'dependencies': []}]}]}]}]

In [2]:
for i in mock_data:
    print(i['table'])

company_base
hedge_plan
hedge_group
company_currency
company
hedge_plan_entry
instruction
currency
general_user
trading_task

In [ ]:
from agent import Agent
from ddl_loader import load_ddl

with open('./ddl.txt', 'r') as f:
    d = load_ddl(f.read())

db_conn_param = {
    'dbname': 'forex_hdge',
    'user': 'root',
    'password': 'root',
    'host': 'localhost',
    'port': '5432'
}

agent = Agent(ddl_dict=d, db_conn_param=db_conn_param, loop_cnt=25)

In [ ]:
agent.save()